<launch>
  <arg name="y_pos" default="-9.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- Fixed waypoint starting position -->
  <arg name="x_pos" default="-9.0"/>
  <arg name="yaw"   default="0.0"/>

  <!-- Ellipse starting position -->
  <!--
  <arg name="x_pos" default="0"/>
  <arg name="yaw"   default="0"/>
  -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find final_project)/worlds/project.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" textfile="$(find final_project)/models/model_final.sdf"/>

  <!-- Launch the controller node -->
  <node pkg="final_project" name="MyRobotPIDController" type="controller_return.py" output="screen" />

  <!-- Launch the datalogging node -->
  <node pkg="rosbag" type="record" name="rosbag_record_odom"
       args="record -o $(find final_project)/odometry_data /odom " />

  <!-- Spawn the model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-sdf -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -model hw8 -param robot_description" />


</launch>
